{% extends 'base.html' %}

{% block content %}
  <div class="modal fade" id="Modal_add_visit" tabindex="-1" aria-labelledby="Modal_add_visitLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="Modal_add_visitLabel">ADD VISIT RESULTS</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id = "modal_container" class="modal-body">
            <form method = "post" id = "form_visit" action="{% url 'patient_dashboard' pk=user_info.pk  p_pk=patient_info.id %}"  novalidate>
                {% csrf_token%}
                {{form.as_p}}
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
<div class="patient_dash">
    <!-- <br></br> -->
    <div class="patient">
        <a href="{% url 'dash_view' pk=user.pk %}" class="btn" id="back_button">
            <i class= "bi bi-arrow-left" style=" filter: invert(1);"></i>
        </a>
        <h1 id="patient_name"> {{ patient_info.PT_F_NAME }}  {{ patient_info.PT_LAST_NAME }}</h1>
        <a href="" id = "edit_button" data-bs-toggle="modal"  data-bs-target="#Modal_edit_patient" class="btn">
            <i class="bi bi-pencil-square" style=" filter: invert(1);"></i>
        </a>
        <a href="{%url 'patient_flag' pk=patient_info.id %}" class="btn" id="flag">FLAG</a>
    </div>
   
    <br></br>
    <div class="title">
        <h2 id="title"> HEALTH OVERVIEW</h2>
    </div>
    <br></br>
    <div class="container" >
        <div class="container2">
            <div  class = "container_risk">
                <div class="prediction_title">
                    <div>
                        <h3>AD CURRENT RISK</h3>
                    </div>
                    <div>
                        <a href="{%url 'prediction_view' pk=user_info.id p_pk=patient_info.id %}" class="btn btn-primary" id="predictor">PREDICT</a>
                    </div>    
                </div>
                <div class="risk_prediction">
                    {%if predictions%}
                    <p>{{predictions.Risk_prediction}}</p>
                    {%else%}
                    <p>Not enough visits</p>
                    {%endif%}
                </div>
            </div>
            <br></br>
            <div class = "container_diag">
                <div>
                    <h3>CURRENT DIAGNOSIS</h3>
                </div>
                <div class="Diagnoisis">
                    {%if predictions%}
                    <p>{{current_diagnosis.get_GROUP_display}}</p>
                    {%else%}
                    <p>Not enough visits</p>
                    {%endif%}
                </div>
            </div>
        </div>
        <div  class = "container_visits">
            <div class = "visit_header">
                <div>
                    <h3>VISITS</h3>
                </div>
          
                <div>
                    <a id = "add_patient" href="{% url 'patient_dashboard' pk=user_info.pk  p_pk=patient_info.id %}" data-bs-toggle="modal"  data-bs-target="#Modal_add_visit" class="btn btn-primary">ADD VISIT</a>
            </div>
            </div>
            <div class="visits">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">VISIT</th>
                            <th scope="col">GROUP</th>
                            <th scope="col">EDUC</th>
                            <th scope="col">SES</th>
                            <th scope="col">CDR</th>
                            <th scope="col">MMSCORE</th>
                            <th scope="col">AGE</th>
                            <th scope="col">ETIV</th>
                            <th scope="col">NWBW</th>
                            <th scope="col">ASF</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for visit in patient_visits %}
                        <tr>
                            <td>{{visit.VISIT}}</td>
                            <td>{{visit.GROUP}}</td>
                            <td>{{visit.EDUCATION}}</td>
                            <td>{{visit.SES}}</td>
                            <td>{{visit.CDR}}</td>
                            <td>{{visit.MMSCORE}}</td>
                            <td>{{visit.AGE}}</td>
                            <td>{{visit.ETIV}}</td>
                            <td>{{visit.NWBV}}</td>
                            <td>{{visit.ASF}}</td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                   </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
const form_visit = document.getElementById('form_visit');
  
  if (form_visit) {
    form_visit.addEventListener('submit', function(event) {
      event.preventDefault();
      const formData = new FormData(this);
      fetch(this.action, {
        method: "POST",
        body: formData,
        headers: {'X-Requested-With': 'XMLHttpRequest','X-CSRFToken': formData.get('csrfmiddlewaretoken')}
      })
      .then(response => response.json())
      .then(data =>{
        if (data.patient_visits) {
          window.location.reload();
        } 
        else {
          alert('saveING ERROR');
        }
      })
      .catch(error => {console.error('CANT SUBMIT FORM', error);});
    });
  }
</script>
<style>
#back_button{
    width: 4rem ; 
    height: 3rem;
    font-size: 1.5rem; 
    border-radius: 0.5rem;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#back_button{
    background-color: #0077ff;
}
table{
    max-width: 30rem; 
    overflow: scroll;
}

#patient_name{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container_diag{
    gap:1rem;
    padding: 1rem; 
    display:flex; 
    align-items: center; 
    flex-direction:column;
    min-width: 10rem; 
    min-height: 10rem; 
    justify-content : center ; 
    border: 0.05rem solid rgba(0, 0, 0, 0); 
    border-radius: 1rem; 
    overflow: hidden; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.patient{
    display: flex; 
    justify-content: space-between;
}
.patient_dash{
    min-width: 100rem;
}
/* #title{

} */
.title{
    color: #0077ff; 
    border-radius: 1rem; 
    padding: 1rem; 
    width: 100%;
    display: flex; 
    justify-content:center; 
    background-color: rgba(255, 255, 255, 0.77); 
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
h1{
    font-size: 2rem; 
    overflow: hidden; 
    background-color: rgba(255, 255, 255, 0.77); 
    color: rgb(82, 82, 82); border-radius: 1rem; 
    padding: 1rem; 
    width: 80%; 
    display: flex; 
    justify-content: center;
}

h2{
    font-size: 2rem; 
    overflow: hidden;
}
#flag{
    width: 10%;
    height: 20%;
    font-size: 1.5rem;
    background-color: red; 
    color: white; 
    display: flex; 
    justify-content: center;
}
h3{
    font-size: 1rem; 
    display:flex; 
    align-items: center; 
    color:  #0077ff; 
}
#edit_button{
    background-color:rgba(0, 187, 0, 0.69); 
    width: 3rem ; 
    height: 3rem;
    font-size: 1.5rem; 
    border-radius: 0.5rem;
    display: flex; 
    align-items: center;
}
.container{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;

    gap: 5rem;
}
.container2{
    display:flex; 
    justify-content: space-between; 
    flex-direction: column;
}
.container_risk{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem; 
    display:flex; 
    align-items: center; 
    flex-direction:column; 
    min-width: 20rem; 
    min-height: 10rem; 
    justify-content : center ; 
    border: 0.05rem solid rgba(0, 0, 0, 0); 
    border-radius: 1rem; 
    overflow: hidden; 
    background-color: white;
}
.prediction_title{
    padding: 1rem;
    display:flex; 
    align-items: center; 
    flex-direction:row; 
    gap: 2rem;
}
#predictor{
    font-size: 0.7rem;
}
.risk_prediction{
    position:relative; 
    width: 80%;
    height: 4rem; 
    margin:0.5rem auto; 
    display:flex; 
    align-items: center; 
    flex-direction:column;
}
         
.Diagnosis{
    position:relative; 
    width: 80%; 
    height: 4rem; 
    margin:0.5rem auto;
}

.container_visits{
    padding: 1rem; 
    display:flex; 
    align-items: center; 
    flex-direction:column;  
    min-width: 75rem; 
    min-height: 35rem; 
    justify-content : center ; 
    border: 0.05rem solid rgba(0, 0, 0, 0);
    border-radius: 1rem; 
    overflow-x: scroll; 
    overflow-x: hidden; 
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.visit_header{
    padding: 0.5rem 3rem 0.5rem  0.5rem;
    position:relative; 
    top: -13rem; 
    left:9rem; 
    display:flex; 
    justify-content:center;  
    flex-direction: row; 
    gap:15rem;
}
        
#add_patient{
    font-size: 0.7rem;
}
.visits{
    position:relative; 
    width: 80%;
    max-width: 80%; 
    height: 4rem; 
    right: 4rem; 
    top: -12rem; 
    text-overflow: ellipsis;
} 
table, tr, td, th{
  border: 1px solid #ddd;
  padding: 0.5rem 3rem 0.5rem  0.5rem;
}
.modal-content{
    border-radius: 1rem;
}
#Modal_add_visitLabel{
    font-size: 3rem;
}



</style>


{% endblock%}